<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<link rel="shortcut icon" th:href="@{/images/favico.ico}" type="image/x-icon">
	<title>Atividade | SAFIA</title>
</head>

<body class="bg-center bg-cover bg-no-repeat bg-slate-800 flex flex-col justify-start items-center min-h-screen">
	<script th:src="@{/scripts/modal.js}" type="text/javascript"></script>
	<script th:src="@{/scripts/workingTask.js}" type="text/javascript"></script>

	<div class="w-full" th:insert="~{fragments/header :: header}"></div>

	<article th:object="${task}" class="flex flex-col justify-center items-center w-6/10 min-h-[12rem] mt-4">
		<h3 class="place-self-start uppercase text-xl font-bold text-gray-100 mb-4" th:text="${task.name}">
			Meus dados:
		</h3>

		<form class="flex flex-col w-full place-self-center my-4">
			<fieldset class="mb-4" disabled>
				<legend class="font-bold text-gray-200 text-left mb-4">Dados de Trabalho</legend>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="id">Id:</h3>
					<div th:text="*{id}" class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full">
					</div>
				</span>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="name">Nome:</h3>
					<div th:text="*{name}" class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full">
					</div>
				</span>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="description">Descrição:</h3>
					<div th:text="*{description}"
						class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full"></div>
				</span>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="description">Projeto:</h3>
					<div th:text="*{project.name}"
						class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full"></div>
				</span>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="description">Status:</h3>
					<div th:text="*{status}"
						class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full"></div>
				</span>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="description">Prazo:</h3>
					<div th:text="*{deadLine}"
						class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full"></div>
				</span>
			</fieldset>

			<fieldset class="mb-4" disabled>
				<legend class="font-bold text-gray-200 text-left mb-4">Dados Extras</legend>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="employees">Pessoas:</h3>
					<div th:text="*{getAllEmployees().size()}"
						class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full"></div>
				</span>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="employees">Trabalhos:</h3>
					<div th:text="*{getAllWorks().size()}"
						class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full"></div>
				</span>
			</fieldset>
		</form>

	</article>

	<article th:if="${task.status.toString()} != 'DONE'" th:object="${work}"
		class="flex flex-col justify-center items-center w-6/10 min-h-[12rem]">
		<h3 class="place-self-start uppercase text-xl font-bold text-gray-100 mb-4">
			Tracker
		</h3>

		<span th:object="${task}" class="w-full h-full flex justify-center items-center gap-x-8">
			<form th:action="@{/work/create}" method="post" th:object="${work}"
				class="flex items-center justify-evenly w-full bg-slate-900 rounded-lg my-4 p-4 border-gray-200 border-xl br-10 uppercase text-gray-200 text-xl font-bold text-center">
				<input name="descricao" class="w-6/10" placeholder="Em que está trabalhando agora?" type="text"
					th:value="${work.description}" />

				<input id="task-id" type="text" th:field="${task.id}" hidden />
				<input id="start-timer-value" type="datetime" th:field="${work.startedAt}" hidden />
				<input id="stop-timer-value" type="datetime" th:field="${work.endedAt}" hidden />

				<div class="flex w-3/10 align-center justify-end text-center gap-x-4">
					<p id="timer-display" class="text-2xl place-self-center">00:00:00</p>
					<button id="start-timer-button" onclick="startTimer(event)"
						class="uppercase p-4 border-xl br-10 rounded-lg bg-green-700 hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
						<img th:src="@{/svgs/play.svg}" alt="pequeno ícone de começar">
					</button>
					<button id="stop-timer-button" onclick="stopTimer(event)" disabled
						class="uppercase p-4 border-xl br-10 rounded-lg bg-red-700 disabled hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
						<img th:src="@{/svgs/stop.svg}" alt="pequeno ícone de parar">
					</button>

					<input value="Registrar" type="submit" 
						class="uppercase border-xl br-10 rounded-lg bg-red-700 hover:cursor-pointer hover:opacity-80">
				</div>
			</form>
		</span>
	</article>
</body>

</html>