<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<link rel="shortcut icon" th:href="@{/images/favico.ico}" type="image/x-icon">
	<title>Atividades | SAFIA</title>
</head>

<body class="bg-center bg-cover bg-no-repeat bg-slate-800 flex flex-col justify-start items-center min-h-screen">
	<div class="w-full" th:insert="~{fragments/header :: header}"></div>

	<h1 class="mx-4 my-3 text-4xl font-bold text-left text-gray-200 uppercase place-self-center mt-8">
		Minhas Atividades
	</h1>

	<article>
		<h2>Informações</h2>

		<span th:text="'Total de Equipe(s): ' + ${total}">
		</span>
	</article>


	<a th:href="@{/task/create}"
		class="place-self-end bg-green-600 rounded-lg my-2 py-4 px-12 border-gray-200 border-xl br-10 uppercase text-gray-200 text-xl font-bold text-center cursor-pointer hover:opacity-80">
		Nova Atividade
	</a>

	<table class="w-6/10" th:object="${tasks}">
		<thead class="text-gray-400 font-bold uppercase bg-slate-950">
			<tr class="w-full h-10">
				<th class="px-4" scope="col">Nome</th>
				<th class="px-4" scope="col">Descrição</th>
				<th class="px-4" scope="col">Status</th>
				<th class="px-4" scope="col">Projeto</th>
				<th class="px-4" scope="col">Prazo</th>
				<th class="px-4" scope="col">Criador</th>
				<th class="px-4" scope="col">Criado em</th>
				<th class="px-4" scope="col" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">Ações</th>
			</tr>
		</thead>
		<tbody>

			<tr th:if="${tasks.isEmpty()}"
				class="w-full h-10 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
				<th>—</th>
				<td>—</td>
				<td>—</td>
				<td>—</td>
				<td>—</td>
				<td>—</td>
				<td>—</td>
				<td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">—</td>
			</tr>
			<tr th:each="task : ${tasks}"
				class="w-full h-10 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
				<th scope="row" class="px-4 text-left cursor-pointer underline"><a
						th:href="@{/task/detail/} + ${task.id}" th:text="${task.name}">Atividade Física</a></th>
				<td class="px-4 text-left" th:text="${task.description}">Exercicio da Mente</td>
				<td class="px-4 text-left" th:text="${task.status.name()}">Feito</td>
				<td class="px-4 text-center" th:text="${task.project.name}">Projethon</td>
				<td class="px-4 text-left" th:text="${task.deadLine}">02/12/2023</td>
				<td class="px-4 text-center" th:text="${task.creator.name}">Jack Stalber</td>
				<td class="px-4 text-center" th:text="${task.createdAt.toLocalDate()}">20/01/2020</td>
				<td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
					<span class="flex w-full h-full justify-evenly">
						<img class="hover:opacity-80 hover:animate-bounce cursor-pointer"
							th:src="@{/svgs/trash-color.svg}" alt="ícone pequeno de lixeira">
						<img class="hover:opacity-80 hover:animate-bounce cursor-pointer"
							th:src="@{/svgs/edit-color.svg}" alt="ícone pequeno de lápis">
					</span>
				</td>
			</tr>
		</tbody>
	</table>

	<div>
		<button>Primeiro</button>
		<button>1</button>
		<button>2</button>
		<button>3</button>
		<button>Último</button>
	</div>

</body>

</html>