<!-- MODAL DE CRIAÇÃO DE EQUIPE NOVA -->
<div id="new-project-modal" th:fragment="new-project-modal" th:object="${newProject}" aria-hidden="true"
	class="flex align-center justify-center hidden overflow-y-auto overflow-x-hidden fixed top-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full bg-slate-950/85">
	<form th:action="@{/project/create}" th:object="${newProject}" method="post"
		class="flex flex-col justify-center place-self-center min-w-40/100 bg-slate-900 rounded-lg border-gray-200 border-xl border border-solid uppercase text-gray-200 text-xl font-bold text-center my-[auto]">

		<div
			class="flex w-full h-10/100 justify-between align-center text-start rounded-se-lg rounded-ss-lg bg-slate-400 px-4 py-2 mb-4">
			<h1 class="text-gray-800 text-start place-self-center text-base w-full px-1 truncate text-nowrap">
				Criar Projeto
			</h1>
			<button onclick="closeModal(event, 'new-team-modal')" class="cursor-pointer hover:opacity-80">
				<img th:src="@{/svgs/close.svg}" alt="pequeno ícone vermelho de botão de fechar">
			</button>
		</div>

		<fieldset class="w-full h-35/100 px-4 overflow-y-auto">
			<legend class="font-bold text-gray-200 text-left text-base my-4">Equipe</legend>

			<span class="flex mb-8">
				<label class="font-bold text-left text-gray-200" for="nome">Nome:</label>
				<input class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-200 size-full" id="nome"
					name="nome" type="text" placeholder="Minha equipe nova" autofocus th:field="*{name}">
			</span>

			<span class="flex">
				<label class="font-bold text-left text-gray-200" for="descricao">Descrição:</label>
				<textarea class="h-40 px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-200 size-full resize-none"
					name="descricao" id="descricao" th:field="*{description}"
					placeholder="Descrição detalhada da minha nova equipe destacando todos os objetivos em comum que almejamos alcançar. Assim, podemos garantir que a união gere a força!"></textarea>

			</span>
		</fieldset>

		<fieldset class="w-full h-50/100 px-4 overflow-y-auto">
			<legend class="font-bold text-gray-200 text-left my-4">Trabalhadores</legend>

			<span class="flex">
				<label class="font-bold text-left text-gray-200" for="item">Delegado(s):</label>
				<input class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-200 w-full" id="item" name="item"
					type="text">
				<button onclick="addItem(event)"
					class="flex text-xl text-gray-200 font-bold bg-green-700 border-xl rounded-lg cursor-pointer hover:opacity-80 p-1 gap-x-2">
					<img th:src="@{/svgs/new-card.svg}"
						alt="ícone pequeno de anotação com símbolo de mais ao seu centro">
				</button>
			</span>

			<!-- <span class="flex bg-green-700" id="allItems"></span> -->
		</fieldset>

		<div class="w-full h-10/100 flex align-center justify-center">
			<input
				class="flex uppercase text-xl text-gray-200 font-bold bg-green-700 border-xl rounded-lg cursor-pointer hover:opacity-80 p-2 my-2 gap-x-2"
				value="Criar equipe" type="submit"></input>
		</div>

	</form>
</div>

<!-- MODAL DE EDIÇÃO DE EQUIPE JÁ EXISTENTE -->
<div id="edit-team-modal" th:fragment="edit-team-modal" th:object="${editTeam}" aria-hidden="true"
	class="flex align-center justify-center hidden overflow-y-auto overflow-x-hidden fixed top-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full bg-slate-950/85">
	<form th:action="@{/team/update}" th:object="${editTeam}" method="post"
		class="flex flex-col justify-center place-self-center min-w-40/100 bg-slate-900 rounded-lg border-gray-200 border-xl border border-solid uppercase text-gray-200 text-xl font-bold text-center my-[auto]">

		<div
			class="flex w-full h-10/100 justify-between align-center text-start rounded-se-lg rounded-ss-lg bg-slate-400 px-4 py-2 mb-4">
			<h1 class="text-gray-800 text-start place-self-center text-base w-full px-1 truncate text-nowrap">
				Editar Equipe
			</h1>
			<button onclick="closeModal(event, 'edit-team-modal')" class="cursor-pointer hover:opacity-80">
				<img th:src="@{/svgs/close.svg}" alt="pequeno ícone vermelho de botão de fechar">
			</button>
		</div>

		<fieldset class="w-full h-35/100 px-4 overflow-y-auto">
			<legend class="font-bold text-gray-200 text-left text-base my-4">Equipe</legend>

			<input id="id" name="id" type="text" th:field="*{id}" hidden>

			<span class="flex mb-8">
				<label class="font-bold text-left text-gray-200" for="nome">Nome:</label>
				<input class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-200 size-full" id="nome"
					name="nome" type="text" placeholder="Minha equipe nova" autofocus th:field="*{name}">
			</span>

			<span class="flex">
				<label class="font-bold text-left text-gray-200" for="descricao">Descrição:</label>
				<textarea class="h-40 px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-200 size-full resize-none"
					name="descricao" id="descricao" th:field="*{description}"
					placeholder="Descrição detalhada da minha nova equipe destacando todos os objetivos em comum que almejamos alcançar. Assim, podemos garantir que a união gere a força!"></textarea>

			</span>
		</fieldset>

		<fieldset class="w-full h-50/100 px-4 overflow-y-auto">
			<legend class="font-bold text-gray-200 text-left my-4">Trabalhadores</legend>

			<span class="flex">
				<label class="font-bold text-left text-gray-200" for="item">Delegado(s):</label>
				<input class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-200 w-full" id="item" name="item"
					type="text">
				<button onclick="addItem(event)"
					class="flex text-xl text-gray-200 font-bold bg-green-700 border-xl rounded-lg cursor-pointer hover:opacity-80 p-1 gap-x-2">
					<img th:src="@{/svgs/new-card.svg}"
						alt="ícone pequeno de anotação com símbolo de mais ao seu centro">
				</button>
			</span>

			<!-- <span class="flex bg-green-700" id="allItems"></span> -->
		</fieldset>

		<div class="w-full h-10/100 flex align-center justify-center">
			<input
				class="flex uppercase text-xl text-gray-200 font-bold bg-green-700 border-xl rounded-lg cursor-pointer hover:opacity-80 p-2 my-2 gap-x-2"
				value="Salvar" type="submit"></input>
		</div>

	</form>
</div>

<!-- MODAL DE ADIÇÃO DE PESSOA EM EQUIPE JÁ EXISTENTE -->
<div id="add-employee-team-modal" th:fragment="add-employee-team-modal" th:object="${team}" aria-hidden="true"
	class="flex align-center justify-center hidden overflow-y-auto overflow-x-hidden fixed top-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full bg-slate-950/85">
	<form th:action="@{/add-employee/}" th:object="${team}" method="post"
		class="flex flex-col justify-center place-self-center min-w-40/100 bg-slate-900 rounded-lg border-gray-200 border-xl border border-solid uppercase text-gray-200 text-xl font-bold text-center my-[auto]">

		<div
			class="flex w-full h-10/100 justify-between align-center text-start rounded-se-lg rounded-ss-lg bg-slate-400 px-4 py-2 mb-4">
			<h1 class="text-gray-800 text-start place-self-center text-base w-full px-1 truncate text-nowrap">
				Adicionar Pessoa
			</h1>
			<button onclick="closeModal(event, 'add-employee-team-modal')" class="cursor-pointer hover:opacity-80">
				<img th:src="@{/svgs/close.svg}" alt="pequeno ícone vermelho de botão de fechar">
			</button>
		</div>

		<fieldset class="w-full h-35/100 px-4 overflow-y-auto">
			<legend class="font-bold text-gray-200 text-left text-base my-4">Pessoa</legend>

			<input id="id" name="id" type="text" th:field="*{id}" hidden>

			<span class="flex mb-8">
				<label class="font-bold text-left text-gray-200" for="nome">Email:</label>
				<input class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-200 size-full" id="email"
					name="email" type="text" placeholder="pessoa@mail.com" autofocus>
			</span>
		</fieldset>

		<div class="w-full h-10/100 flex align-center justify-center">
			<input
				class="flex uppercase text-xl text-gray-200 font-bold bg-green-700 border-xl rounded-lg cursor-pointer hover:opacity-80 p-2 my-2 gap-x-2"
				value="Adicionar" type="submit"></input>
		</div>
	</form>
</div>
