<table class="w-6/10" th:object="${teams}">
	<thead class="text-gray-400 font-bold uppercase bg-slate-950">
		<tr class="w-full h-16">
			<th class="px-4" scope="col">Nome</th>
			<th class="px-4" scope="col">Descrição</th>
			<th class="px-4" scope="col">Pessoa(s)</th>
			<th class="px-4" scope="col">Criador</th>
			<th class="px-4" scope="col">Criado em</th>
			<th class="px-4" scope="col" sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'NEWCOMER')">Ações</th>
		</tr>
	</thead>
	<tbody>

		<tr th:if="${teams.isEmpty()}"
			class="w-full h-12 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
			<th>---</th>
			<td>---</td>
			<td>---</td>
			<td>---</td>
			<td>---</td>
			<td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">---</td>
		</tr>
		<tr th:each="team : ${teams}"
			class="w-full h-16 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
			<th scope="row" class="px-4 text-left cursor-pointer underline"><a th:href="@{/team/detail/} + ${team.id}"
					th:text="${team.name}">Team O</a></th>
			<td class="px-4 text-left" th:text="${team.description}">A melhor equipe do bairro!</td>
			<td class="px-4 text-center" th:text="${team.getAllEmployees().size()}">5 pessoa(s)</td>
			<td class="px-4 text-center" th:text="${team.creator.name}">Jack Stalber</td>
			<td class="px-4 text-center" th:text="${team.createdAt.toLocalDate()}">20/01/2020</td>
			<td sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'NEWCOMER')">
				<span class="flex w-full h-full justify-evenly">
					<img class="hover:opacity-80 hover:animate-bounce" th:src="@{/svgs/trash-color.svg}"
						alt="ícone pequeno de lixeira">
					<img class="hover:opacity-80 hover:animate-bounce" th:src="@{/svgs/edit-color.svg}"
						alt="ícone pequeno de lápis">
				</span>
			</td>
		</tr>
	</tbody>
</table>