<!-- CATEGORIA DA ATIVIDADE -->
<div th:object="${task}"
	class="flex flex-col w-24/100 h-full overflow-y-auto bg-slate-900 rounded-lg p-4 border-gray-200 border-xl br-10 uppercase text-gray-200 text-xl font-bold text-center">

	<h3 class="place-self-start	uppercase mb-4"></h3>


</div>

<!-- CARD DA ATIVIDADE (TODO) -->
<div th:each="toDoTask : ${project.getAllTasks('TO_DO')}" th:fragment="todo-task-card" class="w-full mb-4">

	<div class="flex w-full min-h-8 justify-between align-center text-center rounded-se-lg rounded-ss-lg bg-slate-400">
		<a th:href="@{/task/detail/} + ${toDoTask.id}" th:text="${toDoTask.name}" class="text-gray-600 text-center place-self-center text-base w-full px-1 truncate text-nowrap">
			Titulo da atividade
		</a>
	</div>

	<div class="flex flex-col px-4 text-gray-600 bg-slate-200 rounded-es-lg rounded-ee-lg">
		<p th:text="${toDoTask.deadLine.toLocalDate()}" class="w-full place-self-start text-xs text-left text-sky-400 my-1">01/01/2001</p>
		<p th:text="${toDoTask.description}" class="w-full place-self-start text-sm text-left my-1">
			Descricao bem meme mas muuuito memee mesmo
			NÚ. creedo que texto meme, nossinhora.
			Mas pensa num paragrafo grande, creeedo...
			Poderia acabar esse texto a qualquer momento, né não?
		</p>

		<div class="flex align-center justify-end w-full gap-x-2 my-2">
			<button
				class="text-gray-300 p-1 bg-green-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed"
				disabled>
				<img th:src="@{/svgs/left-arrow.svg}" alt="ícone pequeno de seta para à esquerda">
			</button>
			<button
				class="text-gray-300 p-1 bg-green-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/right-arrow.svg}" alt="ícone pequeno de seta para à direita">
			</button>
			<button
				class="text-gray-300 p-1 bg-yellow-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/edit.svg}" alt="ícone pequeno de lápis">
			</button>
			<button
				class="text-gray-300 p-1 bg-red-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/trash.svg}" alt="ícone pequeno de lixeira">
			</button>
		</div>
	</div>
</div>

<!-- CARD DA ATIVIDADE (DOING) -->
<div th:each="doingTask : ${project.getAllTasks('DOING')}" th:fragment="doing-task-card" class="w-full mb-4">

	<div class="flex w-full min-h-8 justify-between align-center text-center rounded-se-lg rounded-ss-lg bg-slate-400">
		<a th:href="@{/task/detail/} + ${doingTask.id}" th:text="${doingTask.name}" class="text-gray-600 text-center place-self-center text-base w-full px-1 truncate text-nowrap">
			Titulo da atividade
		</a>
	</div>

	<div class="flex flex-col px-4 text-gray-600 bg-slate-200 rounded-es-lg rounded-ee-lg">
		<p th:text="${doingTask.deadLine.toLocalDate()}" class="w-full place-self-start text-xs text-left text-sky-400 my-1">01/01/2001</p>
		<p th:text="${doingTask.description}" class="w-full place-self-start text-sm text-left my-1">
			Descricao bem meme mas muuuito memee mesmo
			NÚ. creedo que texto meme, nossinhora.
			Mas pensa num paragrafo grande, creeedo...
			Poderia acabar esse texto a qualquer momento, né não?
		</p>

		<div class="flex align-center justify-end w-full gap-x-2 my-2">
			<button
				class="text-gray-300 p-1 bg-green-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/left-arrow.svg}" alt="ícone pequeno de seta para à esquerda">
			</button>
			<button
				class="text-gray-300 p-1 bg-green-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/right-arrow.svg}" alt="ícone pequeno de seta para à direita">
			</button>
			<button
				class="text-gray-300 p-1 bg-yellow-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/edit.svg}" alt="ícone pequeno de lápis">
			</button>
			<button
				class="text-gray-300 p-1 bg-red-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/trash.svg}" alt="ícone pequeno de lixeira">
			</button>
		</div>
	</div>
</div>

<!-- CARD DA ATIVIDADE (IN_ANALYSYS) -->
<div th:each="inAnalysysTask : ${project.getAllTasks('IN_ANALYSYS')}" th:fragment="in-analysys-task-card" class="w-full mb-4">
	
	<div class="flex w-full min-h-8 justify-between align-center text-center rounded-se-lg rounded-ss-lg bg-slate-400">
		<a th:href="@{/task/detail/} + ${inAnalysysTask.id}" th:text="${inAnalysysTask.name}" class="text-gray-600 text-center place-self-center text-base w-full px-1 truncate text-nowrap">
			Titulo da atividade
		</a>
	</div>

	<div class="flex flex-col px-4 text-gray-600 bg-slate-200 rounded-es-lg rounded-ee-lg">
		<p th:text="${inAnalysysTask.deadLine.toLocalDate()}" class="w-full place-self-start text-xs text-left text-sky-400 my-1">01/01/2001</p>
		<p th:text="${inAnalysysTask.description}" class="w-full place-self-start text-sm text-left my-1">
			Descricao bem meme mas muuuito memee mesmo
			NÚ. creedo que texto meme, nossinhora.
			Mas pensa num paragrafo grande, creeedo...
			Poderia acabar esse texto a qualquer momento, né não?
		</p>

		<div class="flex align-center justify-end w-full gap-x-2 my-2">
			<button
				class="text-gray-300 p-1 bg-green-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/left-arrow.svg}" alt="ícone pequeno de seta para à esquerda">
			</button>
			<button
				class="text-gray-300 p-1 bg-green-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/right-arrow.svg}" alt="ícone pequeno de seta para à direita">
			</button>
			<button
				class="text-gray-300 p-1 bg-yellow-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/edit.svg}" alt="ícone pequeno de lápis">
			</button>
			<button
				class="text-gray-300 p-1 bg-red-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/trash.svg}" alt="ícone pequeno de lixeira">
			</button>
		</div>
	</div>
</div>

<!-- CARD DA ATIVIDADE (DONE) -->
<div th:each="doneTask : ${project.getAllTasks('DONE')}" th:fragment="done-task-card" class="w-full mb-4">

	<div class="flex w-full min-h-8 justify-between align-center text-center rounded-se-lg rounded-ss-lg bg-slate-400">
		<a th:href="@{/task/detail/} + ${doneTask.id}" th:text="${doneTask.name}" class="text-gray-600 text-center place-self-center text-base w-full px-1 truncate text-nowrap">
			Titulo da atividade
		</a>
	</div>

	<div class="flex flex-col px-4 text-gray-600 bg-slate-200 rounded-es-lg rounded-ee-lg">
		<p th:text="${doneTask.deadLine.toLocalDate()}" class="w-full place-self-start text-xs text-left text-sky-400 my-1">01/01/2001</p>
		<p th:text="${doneTask.description}" class="w-full place-self-start text-sm text-left my-1">
			Descricao bem meme mas muuuito memee mesmo
			NÚ. creedo que texto meme, nossinhora.
			Mas pensa num paragrafo grande, creeedo...
			Poderia acabar esse texto a qualquer momento, né não?
		</p>

		<div class="flex align-center justify-end w-full gap-x-2 my-2">
			<button
				class="text-gray-300 p-1 bg-green-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/left-arrow.svg}" alt="ícone pequeno de seta para à esquerda">
			</button>
			<button
				class="text-gray-300 p-1 bg-green-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed"
				disabled>
				<img th:src="@{/svgs/right-arrow.svg}" alt="ícone pequeno de seta para à direita">
			</button>
			<button
				class="text-gray-300 p-1 bg-yellow-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/edit.svg}" alt="ícone pequeno de lápis">
			</button>
			<button onclick="location.href='/project/detail/ + ${project.id}'"
				class="text-gray-300 p-1 bg-red-700 border-xl rounded-lg hover:cursor-pointer hover:opacity-80 disabled:bg-gray-700 disabled:cursor-not-allowed">
				<img th:src="@{/svgs/trash.svg}" alt="ícone pequeno de lixeira">
			</button>
		</div>
	</div>
</div>
