<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<link rel="shortcut icon" th:href="@{/images/favico.ico}" type="image/x-icon">
	<title>Time Tracker | SAFIA</title>
</head>

<body class="bg-center bg-cover bg-no-repeat bg-slate-800 flex flex-col justify-center items-center min-h-screen">
	<div class="w-full" th:insert="~{fragments/header :: header}"></div>

	<article th:object="${roles}" class="flex flex-col justify-center items-center w-6/10 min-h-[12rem] mt-4">
		<h3 class="place-self-start uppercase text-xl font-bold text-gray-100 mb-4">
			Meus dados:
		</h3>

		<form class="flex flex-col w-full place-self-center my-4">
			<fieldset class="mb-4" disabled>
				<legend class="font-bold text-gray-200 text-left mb-4">Dados de Sistema</legend>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="email">Id:</h3>
					<div sec:authentication="principal.id"
						class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full"></div>
				</span>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="email">Email:</h3>
					<div sec:authentication="principal.email"
						class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full"></div>
				</span>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="senha">Senha:</h3>
					<div class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full">************</div>
				</span>
			</fieldset>

			<fieldset class="mb-4" disabled>
				<legend class="font-bold text-gray-200 text-left mb-4">Dados Pessoais</legend>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="nome">Nome:</h3>
					<div sec:authentication="principal.name"
						class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full"></div>
				</span>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="cpf">CPF:</h3>
					<div sec:authentication="principal.cpf"
						class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full"></div>
				</span>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200" for="telefone">Telefone:</h3>
					<div sec:authentication="principal.phoneNumber"
						class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full"></div>
				</span>

				<span class="my-2 h-6 flex">
					<h3 class="font-bold text-left text-gray-200 text-gray-200" for="nascimeto">Nascimento:</h3>
					<div sec:authentication="principal.birthDate"
						class="px-2 ml-2 bg-none border-gray-200 border-b-2 text-gray-400 size-full"></div>
				</span>
			</fieldset>
		</form>

		<!-- <button
		class="bg-green-600 rounded-lg my-4 py-2 px-8 border-gray-200 border-xl br-10 uppercase text-gray-200 text-xl font-bold text-center cursor-pointer hover:opacity-80">
		Editar Perfil
	</button> -->

	</article>


	<article th:object="${roles}" class="flex flex-col justify-center items-center w-6/10 min-h-[12rem]">
		<h3 class="place-self-start uppercase text-xl font-bold text-gray-100 mb-4">
			Meus cargos:
		</h3>
		<span class="w-full h-full flex justify-center items-center gap-x-8">

			<table class="w-full" th:object="${roles}">
				<thead class="text-gray-400 font-bold uppercase bg-slate-950">
					<tr class="w-full h-10">
						<th class="px-4" scope="col">Nome</th>
						<th class="px-4" scope="col" sec:authorize="hasAnyRole('ADMIN')">Ações</th>
					</tr>
				</thead>
				<tbody>

					<tr th:if="${roles.isEmpty()}"
						class="w-full h-10 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
						<th>—</th>
						<td sec:authorize="hasAnyRole('ADMIN')">—</td>
					</tr>
					<tr th:each="role : ${roles}"
						class="w-full h-10 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
						<td class="px-4 text-left" th:text="${role.type}">A melhor equipe do bairro!</td>
						<td sec:authorize="hasAnyRole('ADMIN')">
							<span class="flex w-full h-full justify-evenly">
								<img class="hover:opacity-80 hover:animate-bounce cursor-pointer"
									th:src="@{/svgs/trash-color.svg}" alt="ícone pequeno de lixeira">
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</span>
	</article>

	<article th:object="${teams}" class="flex flex-col justify-center items-center w-6/10 min-h-[12rem]">
		<h3 class="place-self-start uppercase text-xl font-bold text-gray-100 mb-4">
			Minhas Equipes:
		</h3>
		<span class="w-full h-full flex justify-center items-center gap-x-8 border-2">
			<table class="w-full" th:object="${teams}">
				<thead class="text-gray-400 font-bold uppercase bg-slate-950">
					<tr class="w-full h-10">
						<th class="px-4" scope="col">Nome</th>
						<th class="px-4" scope="col">Descrição</th>
						<th class="px-4" scope="col">Pessoa(s)</th>
						<th class="px-4" scope="col">Criador</th>
						<th class="px-4" scope="col">Criado em</th>
						<th class="px-4" scope="col" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">Ações</th>
					</tr>
				</thead>
				<tbody>

					<tr th:if="${teams.isEmpty()}"
						class="w-full h-10 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
						<th>—</th>
						<td>—</td>
						<td>—</td>
						<td>—</td>
						<td>—</td>
						<td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">—</td>
					</tr>
					<tr th:each="team : ${teams}"
						class="w-full h-10 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
						<th scope="row" class="px-4 text-left cursor-pointer underline"><a
								th:href="@{/team/detail/} + ${team.id}" th:text="${team.name}">Team O</a></th>
						<td class="px-4 text-left" th:text="${team.description}">A melhor equipe do bairro!</td>
						<td class="px-4 text-center" th:text="${team.getAllEmployees().size()}">5 pessoa(s)</td>
						<td class="px-4 text-center" th:text="${team.creator.name}">Jack Stalber</td>
						<td class="px-4 text-center" th:text="${team.createdAt.toLocalDate()}">20/01/2020</td>
						<td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
							<span class="flex w-full h-full justify-evenly">
								<img class="hover:opacity-80 hover:animate-bounce cursor-pointer"
									th:src="@{/svgs/trash-color.svg}" alt="ícone pequeno de lixeira">
								<img class="hover:opacity-80 hover:animate-bounce cursor-pointer"
									th:src="@{/svgs/edit-color.svg}" alt="ícone pequeno de lápis">
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</span>
	</article>

	<article th:object="${projects}" class="flex flex-col justify-center items-center w-6/10 min-h-[12rem]">
		<h3 class="place-self-start uppercase text-xl font-bold text-gray-100 mb-4">
			Meus Projetos:
		</h3>


		<span class="w-full h-full flex justify-center items-center gap-x-8 border-2">
			<table class="w-full" th:object="${projects}">
				<thead class="text-gray-400 font-bold uppercase bg-slate-950">
					<tr class="w-full h-10">
						<th class="px-4" scope="col">Nome</th>
						<th class="px-4" scope="col">Descrição</th>
						<th class="px-4" scope="col">Equipe</th>
						<th class="px-4" scope="col">Pessoa(s)</th>
						<th class="px-4" scope="col">Gerente</th>
						<th class="px-4" scope="col">Criador</th>
						<th class="px-4" scope="col">Criado em</th>
						<th class="px-4" scope="col" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${projects.isEmpty()}"
						class="w-full h-10 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
						<th>—</th>
						<td>—</td>
						<td>—</td>
						<td>—</td>
						<td>—</td>
						<td>—</td>
						<td>—</td>
						<td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">—</td>
					</tr>
					<tr th:each="project : ${projects}"
						class="w-full h-10 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
						<th scope="row" class="px-4 text-left cursor-pointer underline"><a
								th:href="@{/project/detail/} + ${project.id}" th:text="${project.name}">Projethon</a>
						</th>
						<td class="px-4 text-left" th:text="${project.description}">O mió projeto que ta tendo</td>
						<td class="px-4 text-left" th:text="${project.team.name}">Team O</td>
						<td class="px-4 text-center" th:text="${project.getAllEmployees().size()}">5 pessoa(s)</td>
						<td class="px-4 text-left" th:text="${project.manager.name}">Ademir</td>
						<td class="px-4 text-center" th:text="${project.creator.name}">Jack Stalber</td>
						<td class="px-4 text-center" th:text="${project.createdAt.toLocalDate()}">20/01/2020</td>
						<td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
							<span class="flex w-full h-full justify-evenly">
								<img class="hover:opacity-80 hover:animate-bounce cursor-pointer"
									th:src="@{/svgs/trash-color.svg}" alt="ícone pequeno de lixeira">
								<img class="hover:opacity-80 hover:animate-bounce cursor-pointer"
									th:src="@{/svgs/edit-color.svg}" alt="ícone pequeno de lápis">
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</span>
	</article>

	<article th:object="${tasks}" class="flex flex-col justify-center items-center w-6/10 min-h-[12rem]">
		<h3 class="place-self-start uppercase text-xl font-bold text-gray-100 mb-4">
			Minhas Atividades:
		</h3>
		<span class="w-full h-full flex justify-center items-center gap-x-8 border-2">
			<table class="w-full" th:object="${tasks}">
				<thead class="text-gray-400 font-bold uppercase bg-slate-950">
					<tr class="w-full h-10">
						<th class="px-4" scope="col">Nome</th>
						<th class="px-4" scope="col">Descrição</th>
						<th class="px-4" scope="col">Status</th>
						<th class="px-4" scope="col">Projeto</th>
						<th class="px-4" scope="col">Prazo</th>
						<th class="px-4" scope="col">Criador</th>
						<th class="px-4" scope="col">Criado em</th>
						<th class="px-4" scope="col" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">Ações</th>
					</tr>
				</thead>
				<tbody>

					<tr th:if="${tasks.isEmpty()}"
						class="w-full h-10 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
						<th>—</th>
						<td>—</td>
						<td>—</td>
						<td>—</td>
						<td>—</td>
						<td>—</td>
						<td>—</td>
						<td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">—</td>
					</tr>
					<tr th:each="task : ${tasks}"
						class="w-full h-10 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
						<th scope="row" class="px-4 text-left cursor-pointer underline"><a
								th:href="@{/task/detail/} + ${task.id}" th:text="${task.name}">Atividade Física</a></th>
						<td class="px-4 text-left" th:text="${task.description}">Saúde é o que interessa, o resto não
							tem pressa!</td>
						<td class="px-4 text-center" th:text="${task.status}">A Fazer</td>
						<td class="px-4 text-center" th:text="${team.project.name}">Projeto Verão</td>
						<td class="px-4 text-center" th:text="${team.deadLine.toLocalDate()}">20/10/2026</td>
						<td class="px-4 text-center" th:text="${team.creator.name}">Jack Stalber</td>
						<td class="px-4 text-center" th:text="${team.createdAt.toLocalDate()}">20/01/2020</td>
						<td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
							<span class="flex w-full h-full justify-evenly">
								<img class="hover:opacity-80 hover:animate-bounce cursor-pointer"
									th:src="@{/svgs/trash-color.svg}" alt="ícone pequeno de lixeira">
								<img class="hover:opacity-80 hover:animate-bounce cursor-pointer"
									th:src="@{/svgs/edit-color.svg}" alt="ícone pequeno de lápis">
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</span>
	</article>

	<article th:object="${works}" class="flex flex-col justify-center items-center w-6/10 min-h-[12rem]">
		<h3 class="place-self-start uppercase text-xl font-bold text-gray-100 mb-4">
			Meus Trabalhos:
		</h3>
		<span class="w-full h-full flex justify-center items-center gap-x-8 border-2">
			<table class="w-full" th:object="${works}">
				<thead class="text-gray-400 font-bold uppercase bg-slate-950">
					<tr class="w-full h-10">
						<th class="px-4" scope="col">Atividade</th>
						<th class="px-4" scope="col">Descrição</th>
						<th class="px-4" scope="col">Começou em</th>
						<th class="px-4" scope="col">Terminou em</th>
						<th class="px-4" scope="col" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">Ações</th>
					</tr>
				</thead>
				<tbody>

					<tr th:if="${works.isEmpty()}"
						class="w-full h-10 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
						<th>—</th>
						<td>—</td>
						<td>—</td>
						<td>—</td>
						<td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">—</td>
					</tr>
					<tr th:each="work : ${works}"
						class="w-full h-10 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
						<th scope="row" class="px-4 text-left cursor-pointer underline"><a
								th:href="@{/task/detail/} + ${work.task.id}" th:text="${work.task.name}">Entrega de
								Projeto</a></th>
						<td class="px-4 text-left" th:text="${work.description}">Melhorei a rebimboca da parafuseta</td>
						<td class="px-4 text-center" th:text="${work.startedAt.toLocalDate()}">28/11/2025</td>
						<td class="px-4 text-center" th:text="${work.endedAt.toLocalDate()}">02/12/2028</td>
						<td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
							<span class="flex w-full h-full justify-evenly">
								<img class="hover:opacity-80 hover:animate-bounce cursor-pointer"
									th:src="@{/svgs/trash-color.svg}" alt="ícone pequeno de lixeira">
								<img class="hover:opacity-80 hover:animate-bounce cursor-pointer"
									th:src="@{/svgs/edit-color.svg}" alt="ícone pequeno de lápis">
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</span>
	</article>
</body>

</html>