<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<link rel="shortcut icon" th:href="@{/images/favico.ico}" type="image/x-icon">
	<title>Error | SAFIA</title>
</head>

<body class="bg-center bg-cover bg-no-repeat bg-slate-800 flex flex-col justify-center items-center min-h-screen">
	<img class="h-auto max-w-xl rounded-lg place-self-center" src="/svgs/error.svg" alt="Imagem de erro em um notebook">

	<h1 class="mx-4 my-3 text-4xl font-bold text-left text-gray-200 place-self-center">Ops! Ocorreu um erro</h1>
	<h2 class="w-6/10 text-l font-bold text-center mx-6 text-gray-200 place-self-center wrap-break-word text-wrap break-normal	"
		th:text="${code} + ' - ' + ${message}">
		404 - Rota não encontrada
	</h2>

	<p class="text-sm font-normal text-gray-200 text-left place-self-center mt-4"><a class="underline text-green-600"
			href="/">Voltar ao site</a></p>
</body>

</html>