<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<title>Time Tracker | SAFIA</title>
</head>

<body class="bg-center bg-cover bg-no-repeat bg-slate-800 flex flex-col justify-center items-center min-h-screen">
	<div class="w-full" th:insert="~{fragments/header :: header}"></div>

	<h1 class="mx-4 my-3 text-4xl font-bold text-left text-gray-200 uppercase place-self-center mt-8">
		Seja bem-vindo ao SAFIA Time Tracker
	</h1>

	<h2 class="text-xl text-left text-gray-200 uppercase place-self-center mb-8">
		Aqui, o seu tempo importa!
	</h2>

	<article class="flex justify-center align-center w-full h-[28rem] px-[4rem]">
		<span
			class="flex flex-col justify-center align-center w-5/10 h-full gap-y-8 pe-8 bg-linear-to-l from-slate-950/70 to-slate-950/0">
			<h2 class="text-2xl font-bold text-sky-400 uppercase text-left">Controle seu tempo</h2>
			<blockquote>
				<img th:src="@{/svgs/quote.svg}" alt="ícone pequeno de aspas" class="inline">
				<p class="text-xl text-gray-200 uppercase text-left inline">
					Só existem dois dias no ano que nada pode ser feito. Um se chama ontem e o outro se chama amanhã,
					portanto hoje é o dia certo para amar, acreditar, fazer e principalmente viver.
				</p>
			</blockquote>
			<cite class="text-l text-gray-200 uppercase italic text-left">— Dalai Lama</cite>
		</span>
		<img class="w-5/10" th:src="@{/images/clock.jpg}" alt="foto de um relógio preso ao teto">
	</article>

	<article class="flex justify-center align-center w-full h-[28rem] px-[4rem]">
		<img class="w-5/10" th:src="@{/images/planning.jpg}" alt="foto de um relógio preso ao teto">

		<span
			class="flex flex-col justify-center align-center w-5/10 h-full gap-y-8 ps-8 bg-linear-to-r from-slate-950/70 to-slate-950/0">
			<h2 class="text-2xl font-bold text-sky-400 uppercase text-left">Alcance seus objetivos</h2>
			<blockquote>
				<img th:src="@{/svgs/quote.svg}" alt="ícone pequeno de aspas" class="inline">
				<p class="text-xl text-gray-200 uppercase text-left inline">
					Não basta dar os passos que nos devem levar um dia ao objetivo, cada passo deve ser ele próprio um
					objetivo em si mesmo, ao mesmo tempo que nos leva para diante.
				</p>
			</blockquote>
			<cite class="text-l text-gray-200 uppercase italic text-left">— Johann Goethe</cite>
		</span>
	</article>

	<article class="flex justify-center align-center w-full h-[28rem] px-[4rem]">
		<span
			class="flex flex-col justify-center align-center w-5/10 h-full gap-y-8 pe-8 bg-linear-to-l from-slate-950/70 to-slate-950/0">
			<h2 class="text-2xl font-bold text-sky-400 uppercase text-left">Planejamento facilitado</h2>
			<blockquote>
				<img th:src="@{/svgs/quote.svg}" alt="ícone pequeno de aspas" class="inline">
				<p class="text-xl text-gray-200 uppercase text-left inline">
					Planeje seu trabalho para hoje e todos os dias. Em seguida, trabalhe o seu plano.
				</p>
			</blockquote>
			<cite class="text-l text-gray-200 uppercase italic text-left">— Margaret Thatcher</cite>
		</span>
		<img class="w-5/10" th:src="@{/images/goals.jpg}" alt="foto de um relógio preso ao teto">
	</article>

</body>

</html>