<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

	<title>Login | SAF.IA</title>
</head>

<body class="bg-gray-50">

	<div class="w-1/2 h-lvh px-[10%] flex flex-col justify-center align-center place-self-end bg-yellow-100">
		<h1 class="mx-4 my-3 text-4xl font-bold text-left text-gray-800 place-self-center">Bem-vindo de volta!</h1>

		<h2 class="text-xl font-bold text-left text-gray-800 place-self-center">Faça o seu login para prosseguir</h2>

		<hr class="my-6">

		<form class="flex flex-col" method="post">
			<fieldset class="my-2">
				<legend class="text-green-400">Dados de Usuário</legend>

				<span class="my-2 flex">
					<label class="font-bold text-left text-gray-800" for="email">Email:</label>
					<input class="bg-gray-50 border-none bg-red-200" id="email" name="email" type="email">
				</span>

				<span class="my-2 flex">
					<label class="font-bold text-left text-gray-800" for="senha">Senha:</label>
					<input class="bg-gray-50 border-none bg-red-200" id="senha" name="senha" type="password">
				</span>
			</fieldset>

			<input
				class="bg-green-400 rounded-lg m-2 py-4 px-12 border-gray-200 border-xl br-10 uppercase text-gray-200 text-xl font-bold text-center cursor-pointer hover:opacity-80"
				type="submit" value="Entrar">
		</form>

		<p class="font-normal text-gray-800 text-left place-self-end">Novo por aqui? <a class="underline text-green-500"
				href="/public/sign-up">criar nova conta</a></p>

	</div>
</body>

</html>