<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login | SAF.IA</title>
</head>
<body>
	<h1>Bem-vindo de volta!</h1>
	<h2>Faça o seu login para prosseguir</h2>

	<hr>

	<form action="" method="post">
		<fieldset>
			<legend>Dados de Usuário</legend>

			<label for="email">Email:</label>
			<input id="email" name="email" type="email">

			<br>

			<label for="senha">Senha:</label>
			<input id="senha" name="senha" type="password">
		</fieldset>

		<input type="submit" value="Entrar">
	</form>

	<p><a href="/public/sign-up">Criar nova conta</a></p>

	<iframe title="Mapa" src="https://www.openstreetmap.org/#map=10/-21.2228/-47.6683" frameborder="0"></iframe>
</body>
</html>