<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<link rel="shortcut icon" th:href="@{/images/favico.ico}" type="image/x-icon">
	<title>Equipes | SAFIA</title>
</head>

<body class="bg-center bg-cover bg-no-repeat bg-slate-800 flex flex-col justify-start items-center min-h-screen">
	<div class="w-full" th:insert="~{fragments/header :: header}"></div>

	<h1 class="mx-4 my-3 text-4xl font-bold text-left text-gray-200 uppercase place-self-center mt-8">
		Minhas Equipes
	</h1>

	<article>
		<h2>Informações</h2>

		<span th:text="'Total de Equipe(s): ' + ${total}">
		</span>
	</article>


	<a th:href="@{/team/create}"
		class="place-self-end bg-green-600 rounded-lg my-2 py-4 px-12 border-gray-200 border-xl br-10 uppercase text-gray-200 text-xl font-bold text-center cursor-pointer hover:opacity-80">
		Nova Equipe
	</a>

	<table class="w-6/10" th:object="${teams}">
		<thead class="text-gray-400 font-bold uppercase bg-slate-950">
			<tr class="w-full h-12">
				<th class="px-4" scope="col">Nome</th>
				<th class="px-4" scope="col">Descrição</th>
				<th class="px-4" scope="col">Pessoa(s)</th>
				<th class="px-4" scope="col">Criador</th>
				<th class="px-4" scope="col">Criado em</th>
				<th class="px-4" scope="col">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="team : ${teams}"
				class="w-full h-12 text-slate-950 font-bold uppercase bg-gray-200 text-center hover:opacity-80 border-b-2 border-slate-400">
				<th scope="row" class="px-4 text-left cursor-pointer underline"><a th:href="@{/team/detail/} + ${team.id}" th:text="${team.name}">Team O</a></th>
				<td class="px-4 text-left" th:text="${team.description}">A melhor equipe do bairro!</td>
				<td class="px-4 text-center" th:text="${team.getAllEmployees().size()}">5 pessoa(s)</td>
				<td class="px-4 text-center" th:text="${team.creator.name}">Jack Stalber</td>
				<td class="px-4 text-center" th:text="${team.createdAt.toLocalDate()}">20/01/2020</td>
				<td>
					<span>
						<img src="" alt="ícone de lixeira pequena">
						<img src="" alt="ícone de lápis pequeno">
					</span>
				</td>
			</tr>
		</tbody>
	</table>

	<div>
		<button>Primeiro</button>
		<button>1</button>
		<button>2</button>
		<button>3</button>
		<button>Último</button>
	</div>

</body>

</html>